In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Local_Authority_Districts_(April_2019)_Names_and_Codes_in_the_United_Kingdom.csv')
df.head()

   FID    LAD19CD                LAD19NM LAD19NMW
0    1  E06000001             Hartlepool      NaN
1    2  E07000215              Tandridge      NaN
2    3  E07000084  Basingstoke and Deane      NaN
3    4  E06000002          Middlesbrough      NaN
4    5  E06000003   Redcar and Cleveland      NaN

In [15]:
#search for Westminster:

df[df['LAD19NM'] == 'Cambridge']['LAD19CD']

280    E07000008
Name: LAD19CD, dtype: object

In [5]:
#look at the difference with the 2020 version
df_20=pd.read_csv('Local_Authority_Districts_(April_2020)_Names_and_Codes_in_the_United_Kingdom.csv')

In [18]:
df_20[df_20['LAD20NM'] == 'Chiltern']['LAD20CD']

Series([], Name: LAD20CD, dtype: object)

In [12]:
len (df)

382

In [13]:
len(df_20)

379

# So the LADs that are gone in 2020 are: 

- Chiltern
- South Bucks
- Wycombe
- Aylesbury Vale

In [31]:
list(set(df['LAD19NM'].to_list()) - set(df_20['LAD20NM'].to_list()))

['Chiltern', 'Wycombe', 'South Bucks', 'Aylesbury Vale']

# the LAD added in 2020 is:

- Buckinghamshire

In [30]:
list(set(df_20['LAD20NM'].to_list()) - set(df['LAD19NM'].to_list()))

['Buckinghamshire']

In [38]:
df_20[df_20['LAD20NM'] == 'Buckinghamshire']['LAD20CD']

134    E06000060
Name: LAD20CD, dtype: object